
<div id="user-detail" class="row">
  <h3>Forgot Password</h3>
  <p class="lead">Please enter your new password</p>
  <form ng-submit="newPasswordSubmit()">
    <div class="control-group">
      <label class="control-label" for="inputPassword">Enter
        Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="Password"
          ng-model="newPassword1" required />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Re-enter
        Password</label>
      <div class="controls">
        <input type="password" id="inputPassword"
          placeholder="Password, again" ng-model="newPassword2" required />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Sign in</button>
      </div>
    </div>
  </form>
  <p class="text-error" ng-repeat="err in errMsg" ng-cloak>{{err}}</p>
  <p class="text-info" ng-show="passwordChangeSuccess">Your password has been changed! You will be redirected to <a href='#/signin'>sign-in</a>.</p>
</div>