<form class="form-horizontal" id="create-profile" ng-submit="submit()"
  name="userSignupForm">
  <fieldset>
    <legend>Join Far Better Me today, it's free!</legend>
    <div class="control-group">
      <label class="control-label" for="inputFirstName">First
        Name</label>
      <div class="controls">
        <input type="text" id="inputFirstName" placeholder="First Name"
          ng-model="user.firstName" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputLastName">Last Name</label>
      <div class="controls">
        <input type="text" id="inputLastName" placeholder="Last Name"
          ng-model="user.lastName" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="email" id="inputEmail" placeholder="Email"
          ng-model="user.email" required>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">New Password</label>
      <div class="controls">
        <input type="password" id="inputPassword" placeholder="6 or more characters"
          ng-model="user.password" required>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Join Now</button>
  </fieldset>  
</form>
<p>Already on Far Better Me? <a href="#/signin">Sign in</a></p>

<div id="reqistration-alert" class="alert alert-error" style="width: 350px; display: none;">
  <h4>Argh!</h4>
  <p>{{registered}}</p>    
</div>

<div id="registration-done-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3>Well done!</h3>
  </div>
  <div class="modal-body">
    <!-- displayed after autologin -->
    <p>Your account has been created. Welcome on Far Better Me!</p>
    <!-- TODO change message when email verification is implemented -->
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
