<div class="modal-header">
  <h3 id="myModalLabel">Sign in to Far Better Me</h3>
</div>
<h4 id="signup-h4">
  <a href="/auth/linkedin"><img src="/img/linkedinconnect.png"
    alt="Sign in with LinkedIn"></a> <a href="#" rel="tooltip"
    data-placement="top" title="Permission explanation will be here">?</a>
</h4>
<form id='form-signin' ng-submit="submit()">
  <div class="modal-body">
    or with your email <br /> <input id="blah" type="email"
      ng-model="user.login" placeholder="Email address" name="login">
    <br /> <input type="password" ng-model="user.password"
      placeholder="Password" name="password"> <br />
    <p>
      <button class="btn btn-small btn-primary" type="submit">Sign
        In</button>
      or <a href="#/signup">Join Far Better Me</a>
    </p>
  </div>
  <div ng-show="showMessage" class="alert alert-error">
    <p>Ouch! We could not let you in with this user and password combination.<br/>
    Please try <a href="/auth/linkedin">LinkedIn login</a>,
    <a ng-click="openFpModal()">request a new password</a>,
    or <a href="#/signup">sign-up</a>.</p>
  </div>
</form>
<a class="text-error" ng-click="openFpModal()">Forgot your password?</a>
<div class="modal hide fade" id="fp-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"
      aria-hidden="true">&times;</button>
    <h3>Forgot Password?</h3>
  </div>
  <div class="modal-body">
    <form ng-submit="fpSubmit()">
      <div class="input-append">
        <input class="input-xlarge" id="appendedInputButton"
          type="email" placeholder="Please enter your email"
          ng-model="fpEmail" required />
        <button class="btn" type="submit">Go!</button>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <p class="text-error" ng-repeat="err in fpError">{{err}}</p>
    <p class="text-info" ng-show="fpInfo">{{fpInfo}}</p>
  </div>
</div>